*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
/*---------- navbar working start ------ */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 80px;
    width: 100%;
    padding: 0 30px;
    background-color: #fff;
    color: #000;
}
.navbar-links{
    display: flex;
    flex-direction: column;
}
.hamburger-menu{
    text-align: center;
    font-size: 22px;
    display: none;
    justify-content: center;
    align-items: center;
}
.search-icon{
    transform: rotate(-45deg);
}
.navbar-links ul{
    display: flex;
    list-style: none;
    text-transform: uppercase;
}
.navbar-links ul li a{
    text-decoration: none;
    font-size: 18px;
    margin-right: 10px;
    padding: 10px 20px ;
    border-radius: 10px;
}
.navbar-links ul li a:hover{
    box-shadow: 1px 1px 50px orange;
    color: orangered;
}










/*========   title-banner   ====== */
.title-banner{
    height: 350px;
    width: 100%;
    background-color: blue;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.title-banner p{
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;        /* themetesting23.blogspot.com  er moto korar jonno inspect kore code dakha j kar koto px */
    letter-spacing: 1px;
    color: #fff;
    text-align: center;
}
.title-banner h1{
    display: flex;
    font-weight: 700;
    letter-spacing: 1.6px;
    color: #fff;
    font-size: 35px;
    line-height: 45px;
    position: relative;
    text-transform: uppercase;
    margin: 0 0 10px;
    text-align: center;
}
.section{
    margin-top: 20px;
    padding: 20px 50px;
    min-height: 500px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    flex-wrap: wrap;
}
.min-section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    color: #fff;
}
/*--------- all teh child section in the bottom ------ */
/*----- genaral child section ----- */
.genaral{
    background-color: rgb(233, 230, 230);
    color: #000;
    height: 350px;
    width: 280px;
    margin: 20px;
    border-radius: 10px 10px 4px 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
/*----- Hover genaral child section ----- */
.genaral:hover{
    box-shadow: 1px 1px 40px aqua;
    transition: all .5s ease;
}
.genaral img{
    width: 100%;
    border-radius: 10px 10px 0 0;
    position: relative;
}
.genaral h1{
    color: orangered;
    text-transform: capitalize;
    font-size: 28px;
    letter-spacing: .5px;
}
.title{
    padding: 0 5px;
    text-align: center;
}
.genaral a{
    text-decoration: none;
}
.card-button{
    padding: 7px 20px;
    background-color: orangered;
    font-size: 15px;
    color: #fff;
    border-radius: 5px;
    margin-bottom: 10px;
}
.card-button:hover{
    box-shadow: 1px 2px 10px aqua;
    font-size: 16px;
    transition: all .2s ease;
}
/*----- academic child section ----- */
.academic{
    background-color: rgb(233, 230, 230);
    color: #000;
    height: 350px;
    width: 280px;
    margin: 20px;
    border-radius: 10px 10px 4px 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.academic:hover{
    box-shadow: 1px 1px 40px aqua;
    transition: all .5s ease;
}
.academic img{
    width: 100%;
    border-radius: 10px 10px 0 0;
    position: relative;
}
.academic h1{
    color: orange;
    text-transform: capitalize;
    font-size: 28px;
    letter-spacing: .5px;
}
.academic a{
    text-decoration: none;
}
/*----- bcs child section ----- */
.bcs{
    background-color: rgb(233, 230, 230);
    color: #000;
    height: 350px;
    width: 280px;
    margin: 20px;
    border-radius: 10px 10px 4px 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.bcs:hover{
    box-shadow: 1px 1px 40px aqua;
    transition: all .5s ease;
}
.bcs img{
    width: 100%;
    border-radius: 10px 10px 0 0;
    position: relative;
}
.bcs h1{
    color: orange;
    text-transform: capitalize;
    font-size: 28px;
    letter-spacing: .5px;
}
.bcs a{
    text-decoration: none;
}
/*----- bank child section ----- */
.bank{
    background-color: rgb(233, 230, 230);
    color: #000;
    height: 350px;
    width: 280px;
    margin: 20px;
    border-radius: 10px 10px 4px 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.bank:hover{
    box-shadow: 1px 1px 40px aqua;
    transition: all .5s ease;
}
.bank img{
    width: 100%;
    border-radius: 10px 10px 0 0;
    position: relative;
}
.bank h1{
    color: orange;
    text-transform: capitalize;
    font-size: 28px;
    letter-spacing: .5px;
}
.bank a{
    text-decoration: none;
}
/* recent-texts */
.recent-texts{
    background-color: #fff;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}
.recent-texts h1{
    font-size: 35px;
    font-weight: 600;
    background-color: #222;
    text-align: center;
    padding: 10px 20px;
    letter-spacing: 1px;
}
/* recent-cards at the bottom */
.recent-cards{
    margin-top: 5px;
    padding: 20px 50px;
    min-height: 500px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    flex-wrap: wrap;
}
/* loadMore-button */
.loadMore-button{
    background-color: transparent;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
}
.loadMore-button h1{
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    padding: 15px 20px;
    color: #000;
    border: 1.5px solid #000;
}
.loadMore-button a{
    text-decoration: none;
}
.loadMore-button h1:hover{
    background-color: #000;
    color: #fff;
    transition: all .4s ease;
}
/*====================- ad-section -================== */
.ad-section{
    width: 100%;
    min-height: 250px;
    padding: 0 45px;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    background: rgb(255, 184, 51);
    justify-content: center;
    align-items: center;
    text-align: center;
}
.ad-image1{
    display: flex;
    width: 45%;
    height: 280px;
    background: #fff;
    margin: 15px;
    object-fit: cover;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.ad-image1 img, .ad-image2 img {
    width: 100%;
}
.ad-image1 img:hover{
    width: 105%;
    transition: all .6s ease;
}
.ad-image2 img:hover{
    width: 105%;
    transition: all .6s ease;
}
.ad-image2{
    display: flex;
    width: 45%;
    height: 280px;
    background: #fff;
    margin: 15px;
    object-fit: cover;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
/*====================- footer -================== */
.mother-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 80px;
    background-color: #000;
}
.ancore-links a{
    text-decoration: none;
    text-transform: capitalize;
    margin: 0 5px;
    padding: 10px 20px;
    color: #fff;
    font-size: 2;
}
.ancore-links a:hover{
    background-color: #555;

}
.social-links a{
    text-decoration: none;
}
.social-links img{
    margin-top: 40px;
    width: 80px;
    margin-bottom: 50px;
}


@media only screen and (max-width: 1399px) and (min-width: 920px){

 /*----- genaral child section ----- */
 .genaral{
    min-height: 550px;
    width: 45%;
}
.academic{
    min-height: 550px;
    width: 45%;
}
.bcs{
    min-height: 550px;
    width: 45%;
}

.bank{
    min-height: 550px;
    width: 45%;
}
.genaral h1,.academic h1,.bcs h1,.bank h1{
    color: orangered;
    font-size: 35px;
}
.genaral small,.academic small,.bcs small,.bank small{
    padding: 10px;
    font-size: 16px;
    letter-spacing: 1px;
}
.card-button:hover{
    padding: 15px 30px;
    background-color: rebeccapurple;
    color: #fff;
    font-size: 20px;
}
.card-button{
    padding: 14px 28px;
    color: #fff;
    font-size: 20px;
}

}

@media (max-width: 740px){
     
    .navbar-links{
        display: none;
    }
    .hamburger-menu{
        display: flex;
    }
}

@media only screen and (max-width: 760px) and (min-width: 455px){
   
    /*----- genaral child section ----- */
    .genaral{
        min-height: 500px;
        width: 90%;
    }
    /*----- Hover genaral child section ----- */

    .card-button{
        background-color: blueviolet;
        color: #fff;
        padding: 15px 20px;
        letter-spacing: .5px;
    }
    /*----- academic child section ----- */
    .academic{
        min-height: 500px;
        width: 90%;
    }
    /*----- bcs child section ----- */
    .bcs{
        min-height: 500px;
        width: 90%;
    }

    /*----- bank child section ----- */
    .bank{
        min-height: 500px;
        width: 90%;
    }

    .genaral h1,.academic h1,.bcs h1,.bank h1{
        color: orangered;
        font-size: 35px;
    }
    .genaral small,.academic small,.bcs small,.bank small{
        padding: 10px;
        font-size: 16px;
        letter-spacing: 1px;
        margin: 8px 0;
    }

    /* recent-texts */
    .recent-texts{
        margin-top: 20px;
        letter-spacing: 1px;
    }
    .recent-texts h1{
        font-size: 30px;
        font-weight: 500;
    }
    .recent-cards{
        margin-top: 20px;
        padding: 20px 50px;
        min-height: 550px;
        
    }
    
    /* loadMore-button */
   
    .loadMore-button h1{
        font-size: 13px;
        font-weight: 550;
        padding: 13px 18px;
    }
    
    .ad-image1 img, .ad-image2 img {
        width: 100%;
    
    }
    .ad-image1 img:hover{
        width: 105%;
        transition: all .6s ease;
    }
    .ad-image2 img:hover{
        width: 105%;
        transition: all .6s ease;
    }
    
    .mother-footer{
        padding-top: 40px;
    }
    .social-links img{
        margin-top: 40px;
        width: 50px;
        margin-bottom: 30px;
    }
}










@media (max-width:638px){

    /*====================- ad-section -================== */
    
    .ad-section{
        padding: 10px;
    }
    .ad-image1{
        display: flex;
        width: 45%;
        height: 200px;
        margin: 10px;
    }
    .ad-image2{
        display: flex;
        width: 45%;
        height: 200px;
        margin: 10px;
    }
}


@media (max-width:391px){
    .title-banner{
        height: 220px;
        padding: 0 10px;
    }
    .title-banner p{
        font-size: 15px;
        line-height: 20px;
    }
    .title-banner h1{
        padding: 0 3px;
        font-size: 20px;
        font-weight: 500;
    }
}
@media (max-width:418px){
    
    .ad-section{
        width: 100%;
        min-height: 100px;
        display: flex;
        flex-wrap: wrap;
        padding: 0px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .ad-image1{
        display: flex;
        width: 100%;
        height: 280px;
        background: #fff;
        margin: 5px;
    }
    .ad-image2{
        width: 100%;
        height: 280px;
        background: #fff;
        margin: 5px;
    }
}
@media (max-width:330px){
    .title-banner{
        height: 250px;
        padding: 0 10px;
    }
    .title-banner p{
        font-size: 15px;
        line-height: 20px;
    }
    .title-banner h1{
        font-weight: 600;
        letter-spacing: 1px;
        line-height: 30px;
        text-transform: uppercase;
        font-size: 25px;
    }
    .section{
        margin-top: 10px;
        padding: 0px 0px;
    }
    .recent-texts{
        letter-spacing: 1px;
        margin-bottom: 10px;
    }
    .recent-texts h1{
        font-size: 20px;
        font-weight: 500;
        background-color: #222;
        text-align: center;
        letter-spacing: 1px;
        padding: 10px 8px;
    }
    /* recent-cards at the bottom */
    .recent-cards{
        margin-top: 20px;
        padding: 0px 0px;
        min-height: 500px;
    }
    /* loadMore-button */
    .loadMore-button{
        letter-spacing: 1px;
        margin-bottom: 20px;
    }
    .loadMore-button h1{
        font-size: 13px;
        font-weight: 500;
        padding: 10px 15px;
        color: #000;
        border: 1.5px solid #000;
    }
    /*====================- ad-section -================== */
    .ad-section{
        width: 100%;
        min-height: 150px;
        padding: 0px;
    }
    .ad-image1{
        display: flex;
        width: 45%;
        height: 100px;
        margin: 2px;
    }
    .ad-image2{
        display: flex;
        width: 45%;
        height: 100px;
        margin: 2px;
    }
/*====================- footer -================== */
.mother-footer{
        display: flex;
        padding-top: 30px;
    }
    .ancore-links{
        display: flex;
        flex-direction: column;
    }
    .social-links img{
        margin-top: 20px;
        width: 45px;
        margin-bottom: 20px;
    }
}
@media (max-width:300px){
    .title-banner h1{
        padding: 0 3px;
        font-size: 20px;
        font-weight: 500;
    }
}

@media (max-width:250px){
    .title-banner{
        height: 200px;
        padding: 0 10px;
    }
    .title-banner p{
        font-size: 13px;
        line-height: 20px;
    }
    .title-banner h1{
        font-weight: 500;
        letter-spacing: 1px;
        line-height: 30px;
        text-transform: uppercase;
        font-size: 18px;
    }
    .ad-section{
        width: 100%;
        min-height: 120px;
        padding: 0px;
    }
    .ad-image1{
        display: flex;
        width: 45%;
        height: 100px;
        margin: 0px;
    }
    .ad-image2{
        display: flex;
        width: 45%;
        height: 100px;
        margin:  2px;
    }
}
